body {
    background: #c94b4b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4b134f, #c94b4b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4b134f, #c94b4b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body a {
    text-decoration: none;
    color: black;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
}

header nav i {
    font-size: 1.5em;
    position: relative;
    left: 15px;
    top: 13px;
}

header nav a {
    font-size: 1.3em;
    padding-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
}

header h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: #E5E5BE;
}

header img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 50%;
}

/* Menu Déroulant */

.menu {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.menu:hover,
.menu:hover i {
    color: #E5E5BE;
    /* fallback for old browsers */
    transition-duration: 400ms;
    text-shadow: 0px 2px 4px black;
}

.deroulant {
    display: inline-block;
    position: relative;
    left: 25px;
    top: 36px;
    border-radius: 50%;
}

.menuinput {
    display: none;
}

.menuderoulant {
    position: absolute;
    top: 100%;
    height: 100%;
    padding: 0;
    margin: 40px 0 0 -25px;
    list-style-type: none;
}

.menuinput+.menuderoulant {
    display: none;
}

.menuinput:checked+.menuderoulant {
    display: block;
}

.menuderoulant li {
    padding: 5px 40px;
    white-space: nowrap;
    border: 2px solid #E5E5BE;
    background-color: #c94b4b;
    font-weight: bolder;
}

.menuderoulant li:hover a,
.menuderoulant li:hover {
    filter: contrast(1.25);
    text-shadow: 0px 2px 4px black;
}

.menuderoulant li a {
    display: block;
    padding: 15px 20px;
    color: #E5E5BE;
}

/* Section */

.projets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 40px;
}

article {
    border-radius: 25px;
    width: 200px;
    height: 500px;
    margin-right: 25px;
    margin-bottom: 55px;
}

article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

article a img:hover {
    box-shadow: 0px 0px 15px #000000;
    transition-duration: 400ms;
}

article h2 {
    color: #E5E5BE;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-top: 5px;
}

.background {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

/* Version tablette */

@media screen and (max-width: 1023.5px) {
    .deroulant {
        left: 0px;
    }

    .menuderoulant {
        margin: 40px 0 0 0;
        width: 100vw;
    }

    .menuderoulant li {
        padding: 0px 0px;
        white-space: nowrap;
        border: 2px solid #E5E5BE;
        background-color: #c94b4bf9;
        font-weight: bolder;
        font-size: 0.9em;
    }

    .menuderoulant li a {
        margin: 0px 0px;
    }

    article {
        margin-bottom: 100px;
    }
}

/* Version mobile */

@media screen and (max-width: 767.5px) {
    /* Section */

    section {
        margin-left: 25px;
    }

    article {
        width: 100%;
    }

    article a img:hover {
        box-shadow: 0px 0px 15px #000000;
        transition-duration: none;
    }
}

/* Apparition progressive */

@keyframes fadein {
    0% {
        opacity: 0;
        scale: 0.1;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

#Booki {
    animation: fadein 400ms;
}

#Ohmyfood {
    animation: fadein 700ms;
}

#Lapanthere {
    animation: fadein 1000ms;
}

#Kanap{
    animation: fadein 1300ms;
}

#Projet5 {
    animation: fadein 1500ms;
}

#Projet6 {
    animation: fadein 1700ms;
}